.module_calender {
    svg {
        opacity: 0.75;
    }
    .module_calener_heading {
        h2 {
            padding-bottom: 0px;
            line-height: initial;
        }
    }
    .module_calender_controll {
        margin-bottom: 2rem;
    }
    .module_calender_filtering {
        p {
            padding: 0px;
            margin: 0px;
            line-height: initial;
        }
    }
    .module_calender_wrapper {
        background-color: $sec_bg_color;
        box-shadow: $main_box_shadow;
        padding-left: 0px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        p {
            padding: 0px;
            margin: 0px;
            line-height: initial;
        }
        .module_calender_card {
            .module_calender_date {
                background-color: $main_color_green;
                width: 150px;
                height: 150px;
                .p_lead {
                    color: $sec_text_color;
                    margin: 0px;
                    font-size: 2.625rem;
                    opacity: 1;
                }
            }
            .module_calender_img {
                img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                }
            }
            .module_calender_info {
                padding-left: 2.875rem;
            }
        }
        .module_calender_social_media {
            i {
                opacity: 0.75;
            }
        }
    }
    .module_calender_event_heading {
        padding-bottom: 1rem;
    }
    .module_calender_time {
        padding-right: 1rem;
    }
    .module_calender_filter,
    .module_calender_search {
        p {
            margin-left: 1rem;
        }
    }
    .module_calender_filter {
        margin-left: 2rem;
    }
    .module_calender_search {
        margin-left: -15px;
    }
    .module_calender_view {
        margin-right: -15px;
    }

   
    #module_calender_search {
        text-indent: 1em;
        display: inline-block;
        border: 0 none;
        width: 0;
        height: 3em;
        background: url(/build/images/icons/search.svg) no-repeat 12px 12px;
        -webkit-transition: .3s;
        transition: .3s;
        outline: none;
        padding: 1em 1.5em;
        cursor: pointer;
        -webkit-appearance: none;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        color: $main_text_color;
        vertical-align: baseline;
    }
    
    input[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    #module_calender_search:hover,
    #module_calender_search:focus {
        background: #fff url(../../../build/images/icons/search.svg) 12px 12px no-repeat;
        box-shadow: $sec_box_shadow;
    }
    
    #module_calender_search:focus, #module_calender_search:hover {
        width: 120%;
        cursor: text;
        box-shadow: $sec_box_shadow;
    }
     

#module_calender_row_grid {
    .module_calender_grid_wrapper {
        background-color: transparent;
        margin-bottom: 2rem;

        .row {
            margin: 0;
            background-color: $sec_bg_color;
            box-shadow: $main_box_shadow;

            p {
                padding: 0px;
                margin: 0px;
                line-height: initial;
            }
            
            .module_calender_grid_date {
                background-color: $main_color_green;
                width: 100%;
                height: 150px;
                
                .p_lead {
                    color: $sec_text_color;
                    margin: 0px;
                    font-size: 2.625rem;
                    opacity: 1;
                }
            }
    
            .module_calender_grid_img { 
                padding: 0;
    
                img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                }
            }

            .module_calender_grid_info {
                padding-left: 2rem;
                margin-top: 30px;
            }

            .module_calender_grid_social_media {
                margin-top: 40px;
                margin-bottom: 15px;
                padding-left: 2rem;

                i {
                    opacity: 0.75;
                    margin-right: 15px;
                }
            }
        }
    }
}
 
}