.module_calender {
    svg {
        opacity: 0.75;
    }
    .module_calener_heading {
        h2 {
            padding-bottom: 0px;
            line-height: initial;
        }
    }
    .module_calender_controll {
        margin-bottom: 2rem;
    }
    .module_calender_filtering {
        p {
            padding: 0px;
            margin: 0px;
            line-height: initial;
        }
    }
    .module_calender_wrapper {
        background-color: $sec_bg_color;
        box-shadow: $main_box_shadow;
        padding-left: 0px;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        p {
            padding: 0px;
            margin: 0px;
            line-height: initial;
        }
        .module_calender_card {
            .module_calender_date {
                background-color: $main_color_green;
                width: 150px;
                height: 150px;
                .p_lead {
                    color: $sec_text_color;
                    margin: 0px;
                    font-size: 2.625rem;
                    opacity: 1;
                }
            }
            .module_calender_img {
                img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                }
            }
            .module_calender_info {
                padding-left: 2.875rem;
            }
        }
        .module_calender_social_media {
            i {
                opacity: 0.75;
            }
        }
    }
    .module_calender_event_heading {
        padding-bottom: 1rem;
    }
    .module_calender_time {
        padding-right: 1rem;
    }
    .module_calender_filter,
    .module_calender_search {
        p {
            margin-left: 1rem;
        }
    }
    .module_calender_filter {
        margin-left: 2rem;
    }
    .module_calender_search {
        margin-left: -15px;
    }
    .module_calender_view {
        margin-right: -15px;
    }

   
#module_calender_search {
    background: rgba(255, 255, 255, 0.5) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px;
    text-indent: 1em;
    display: inline-block;
    border: 0 none;
    width: 0;
    height: 3em;
    border-radius: 3em;
    -webkit-transition: .3s;
    transition: .3s;
    outline: none;
    padding: 1em 1.5em;
    cursor: pointer;
    -webkit-appearance: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: $main_text_color;
    vertical-align: baseline;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#module_calender_search:hover,
#s:focus {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT5JREFUeNqsVLtOw0AQtIMlRJHCEhUVMg398QEUSZnSfILzCXxDPsFu6XAJHWnTcS1lWsprKdmLxtKwvjVBYaTV7cm+udnX5fPb+yyBSmwhVmK/FfPZLyjUPhI8YtXYi23EOovs7PzyevAbsWeoGg5HNUHsCipX8F9TZDOstVgLPxIsxW6w3sHv6dJ2StkLbh6IPtR/AWRfSIET20H9D2U1hfaAgxY2KMagcBSmg9/rmwx0lBqTzGfHoVfVHxXgXzCjHNRHnnHke4vMGc2q0RBR0GSeCLlpLaJGFWKUszVuib32nih7iTFrjXAPyGnQ48c3Gu5AOVlMtMk6NZuf+FiC+AIhV0T+pBQ5ntXceIJKqKko2duJ2TwoLAz5QTVnagJaXWEO8y/wSMuKH9RTJoCTHyNZFidOUEfNu/8WYAAOXUT04MOtlwAAAABJRU5ErkJggg==) 14px 14px no-repeat;
}

#module_calender_search:focus {
    width: 100%;
    cursor: text;
}
 
}