<<<<<<< HEAD:src/styles/4-modules/_findværested.scss
.findværested {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    p {
        margin-top: 30px;
    }
    .search_box {
        background-color: $sec_bg_color;
        box-shadow: $main_box_shadow;
        max-width: 570px;
        margin: 0 auto 81px auto;
        .search_icon {
            height: 24px;
            margin: auto;
            svg:not(:root) {
                color: #C6C6C6;
            }
        }
        input {
            border: none;
            height: 82px;
            padding: 0;
            margin: 0;
            opacity: 1;
        }
    }
    .shelters {
        ul {
            list-style-type: none;
            padding: 0;
        }
        .findværested_box {
            background-color: $sec_bg_color;
            box-shadow: $sec_box_shadow;
            margin: 5px;
            .findværested_box_content {
                p:first-child {
                    margin-bottom: 0;
                }
                p:last-child {
                    margin: 0;
                }
            }
            .contact_info_shelter {
                background-color: #FCFCFC;
                color: $main_text_color;
                padding: 3px 23px;
                p {
                    margin: 0;
                    padding-bottom: 0;
                    a {
                        color: $main_text_color;
                    }
                }
                .map_shelter {
                    text-align: left;
                    height: 30px;
                    span {
                        padding-left: 14px;
                    }
                }
                .vl {
                    border-left: 2px solid #CDCECE;
                    height: 30px;
                    text-align: right;
                    span {
                        padding-left: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .contact_info_shelter {
        svg:not(:root) {
            width: 1rem;
            height: auto;
        }
        p {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 1199px) {
    .findværested_box {
        p {
            font-size: 0.9rem;
        }
        .contact_info_shelter {
            svg:not(:root) {
                width: 0.7rem;
                height: auto;
            }
            p {
                font-size: 0.7rem;
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .findværested_box {
        p {
            font-size: 0.7rem;
        }
        .contact_info_shelter {
            svg:not(:root) {
                width: 1rem;
                height: auto;
                padding-top: 8px;
            }
            p {
                span {
                    display: none;
                }
            }
        }
    }
=======
.findvaerested {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    p {
        margin-top: 30px;
    }
    .search_box {
        background-color: $sec_bg_color;
        box-shadow: $main_box_shadow;
        max-width: 570px;
        margin-bottom: 81px;
        .search_icon {
            width: 81px;
            margin: auto 0;
        }
        input {
            border: none;
            height: 82px;
            padding: 0;
            margin: 0;
            opacity: 1;
        }
    }
    ul {
        list-style-type: none;
    }
    .findvaerested_box {
        background-color: $sec_bg_color;
        box-shadow: $sec_box_shadow;
        max-width: 32%;
        p {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
>>>>>>> 962ff02622b9f746d9e50d96665c2daac85faf1c:src/styles/4-modules/_finddropincenter.scss
}