footer {
    background-color: $main_text_color;
    color: $sec_text_color;
    padding-top: 74px;
    h3 {
        opacity: 1;
        color: $sec_text_color;
        font-size: 1.1rem;
    }
    p {
        color: $sec_text_color;
        font-size: 1rem;
        padding-bottom: 69px;
    }
    a {
        color: $sec_text_color;
    }
    ul {
        padding-left: 16px;
        padding-bottom: 69px;
        li {
            font-family: $font_paragraph;
            opacity: 0.75;
            line-height: 3rem;
        }
    }
    .social-media {
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                i {
                    width: 46px;
                }
            }
        }
    }
    .copy-line {
        p {
            text-align: center;
            font-size: 1rem;
            opacity: 0.3;
            padding: 69px 0 21px 0;
        }
    }
}