.frontpage_hero {
    background-size: 100%;
    background-position: center;
    height: 600px;
    margin-bottom: 100px;
    .frontpage_hero_txt {
        text-align: center;
        h1,
        p {
            color: $sec_text_color;
            opacity: 1;
        }
    }
    .frontpage_hero_facts {
        background-color: $sec_bg_color;
        box-shadow: $main_box_shadow;
        padding: 25px;
        text-align: center;
        color: $main_text_color;
        top: 186px;
        p {
            padding: 0;
            margin: 0;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 992px) {
    .frontpage_hero {
        height: 450px;
        .frontpage_hero_facts {
            top: 113px;
        }
    }
}

@media screen and (max-width: 768px) {
    .frontpage_hero {
        height: 350px;
        margin-bottom: 150px;
        background-size: 150%;
        .frontpage_hero_txt {
            margin-top: 75px;
        }
        .frontpage_hero_facts {
            top: 80px;
            .margin-25-bottom {
                margin-bottom: 25px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .frontpage_hero {
        height: 350px;
        margin-bottom: 50px;
        .frontpage_hero_facts {
            top: 0;
        }
    }
}