.partners {
    h1 {
        text-align: center;
    }
    .logo-pics {
        picture {
            text-align: center;
            img {
                max-width: 220px;
                width: auto;
            }
        }
    }
}