//overlay
#overlay {
    position: fixed;
    display: none;
    widows: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	background-color: rgba($color: #384047, $alpha: 0.38);
	z-index: 200;

	#msform {
		max-width: 770px;
		margin: auto;
		text-align: center;
		position: relative;
		
		.row {
			position: relative;


			#successPopUp {
				background-color: $main_color_green;
				color: $sec_text_color;
				margin: 0 auto;
				padding: 45px 105px 95px;

				svg:not(:root) {
					width: 3rem;
					height: 3rem;
					vertical-align: middle;
					color: $sec_text_color;
				}
			}
			
			label {
				width: 187px;
				height: 187px;
				box-shadow: $sec_box_shadow;

				figure {
					.far.fa-calendar::before, .fas.fa-child::before {
						font-size: 72px;
						color: $main_color_blue_lagoon;
					}
					figcaption {
						padding-top: 20px;
						color: $main_text_color;
						font-weight: 1000;


						#closeBtn {
							position: absolute;
							right: 10px;
							top: 10px;
							z-index: 99;

							svg:not(:root) {
								width: 2rem;
								height: 2rem;
								vertical-align: middle;
								color: lightslategray;
							}
						}

			fieldset {
				background: $sec_bg_color;
				border: 0 none;
				padding: 90px 90px 10px;
				margin: 0 auto;
				/*stacking fieldsets above each other*/
				position: relative;
	
				#successPopUp {
					background-color: $main_color_green;
					color: $sec_text_color;
					margin: 0 auto;
					padding: 45px 105px 95px;
	
					svg:not(:root) {
						width: 3rem;
						height: 3rem;
						vertical-align: middle;
						color: $sec_text_color;
					}
				}
				
				label {
					width: 187px;
					height: 187px;
	
					figure {
						.far.fa-calendar::before, .fas.fa-child::before {
							font-size: 72px;
							color: $main_color_blue_lagoon;
						}
						figcaption {
							padding-top: 20px;
							color: $main_text_color;
							font-weight: 1000;
						}
					}
	
					input[type=checkbox] {
						display: none;
					}
				}
	
				.yellowed {
					box-shadow: $sec_box_shadow;
				}

				input[type=checkbox] {
					display: none;
				} 
			}
			label + input[type=checkbox]:checked {
				border: 2px solid red;
			}
		}

		/*Hide all except first fieldset*/
		fieldset:not(:first-of-type) {
			display: none;
		}

		/*inputs*/
		input, textarea {
			padding: 15px;
			border: 1px solid #E3E3E3;
			margin-bottom: 10px;
			width: 100%;
			box-sizing: border-box;
		}

		/*buttons*/
		button {
			color: $main_color_blue_lagoon;
			background: transparent;
			cursor: pointer;
			padding: 0px;
			margin: 35px 16px;
			border: none;

			svg:not(:root) {
				width: 32px;
				height: 32px;
			}
		}
		button:focus {
			outline: 0;
		}

		/*progressbar*/
		#progressbar {
			margin: 44px auto;
			counter-reset: step;
			li {
				list-style-type: none;
				color: $sec_bg_color;
				width: 25%;
				float: left;
				position: relative;
			}
			li:before {
				content: counter(step);
				counter-increment: step;
				width: 37px;
				line-height: 37px;
				display: block;
				color: $main_text_color;
				background: $sec_bg_color;
				border-radius: 50px;
				margin: 0 auto 9px;
			}
			/*progressbar line*/
			li:after {
				content: '';
				width: 100%;
				height: 5px;
				background: $sec_bg_color;
				position: absolute;
				left: -50%;
				top: 16px;
				z-index: -1;
			}
			li:first-child:after, li:last-child:before, li:last-child:after {
				/*line before the first step removed*/
				content: none; 
			}
			li.active:before,  li.active:after{
				background: $main_color_blue_lagoon;
				color: $sec_text_color;
			}
		}

		/*titles*/
		.fs-title {
			padding: 1.2rem;
		}
		.fs-title-white {
			font-size: 2.5rem;
			color: $sec_text_color;
			opacity: 1;
		}
	}
}

//Media queries
@media screen and (max-width: 768px) {
	#overlay {
		#msform {
			max-width: 500px;
			
			fieldset {
				padding: 60px 20px 0;

				label {
					width: auto;
					height: 120px;
	
					figure {
						.far.fa-calendar::before, .fas.fa-child::before {
							font-size: 35px;
						}
						figcaption {
							font-size: 0.65rem;
							padding-top: 10px;
						}
					}
				}
			}
			#progressbar {
				li {
					b {
						display: none;
					}
				}
			}
		}
	}
}