
@media screen and (max-width: 992px) {
    #moduel_countdown_btn {
        display: none;
    }
    .module_hero_section {
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 625px) {

    .module_calender_view {
        display: none !important;
    }
    .module_calender_wrapper {
       
        flex-direction: column;
        padding-right: 0px;    
        margin: 15px;
            .module_calender_card  {
                flex-direction: column;
            }
         .module_calender_social_media  {
             flex-direction: row !important;
             margin-top: 15px;
             margin-bottom: 15px;
         }
         .module_calender_info {
            padding-top: 15px;
            padding-bottom: 15px;
         }
    }
}